<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Seattle Preparatory School Class of 2006</h2>
        <h3>10th Year High School Reunion</h3>
        <p> Come join us in Seattle on July 22nd and July 23rd, 2016 for Alumni Weekend festivities.</p>
        <h3>BBQ AT PREP - FRIDAY, JULY 22</h3>
        <p> Friday the 22nd, there will be a big BBQ hosted by Prep on the main quad including all reunion classes.</p>
        <h3>PARTY AT HALE'S - SATURDAY, JULY 23</h3>
        <p> Saturday the 23rd, we are hosting a "Class of 2006"-only event. This is the alumni weekend event you won't want to miss. Join us at Hale's Brewery beginning at 6pm.</p> 
        <p>Hale's is located in Ballard at 4301 Leary Way NW, Seattle, WA 98107</p>
        <h3><strong><a href="#form" style="color: rgb(0,0,255)">PLEASE CLICK HERE TO REGISTER</a></strong></h3>
        <p> Please give us your up-to-date contact information so we can stay in touch with updates before the event. We'll follow up with ticketing information ASAP.</p> 
        <p>The more the merrier! This event is about us. The more of us there are, the better the event is going to be.</p>
        <h3>WANT TO CO-ORGANIZE?</h3>
        <p> Please reach out (see below) if you are interested in co-organizing. For questions, please contact Alex Korbonits or Mick Newell. Thanks in advance!</p>
        <!-- <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p> -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
