<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Seattle Preparatory School Class of 2006</h2>
        <h3>10th Year High School Reunion</h3>
        <p> Come join us in Seattle on July 22nd and July 23rd, 2016 for Alumni Weekend festivities.</p>
        <p> Friday the 22nd, there will be a big BBQ hosted by Prep on the main quad including all reunion classes.</p>
        <p> Saturday the 23rd, we are hosting a "Class of 2006"-only event, details TBD.</p>
        <p> Please reach out (see below) if you are interested in co-organizing. Thanks in advance!</p>
        <!-- <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p> -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
